@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

video {
  background-color: black;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  -webkit-transform: translate3d(0,0,0);
}

video::-webkit-media-controls {
  display: none;
}

.navbar {
  width: 100vw;
  height: 15vh;
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.navbar-wrapper-content{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-text {
  color: rgb(255, 255, 255);
  font-size: calc(0.9vw + 18px);
}

.nasa {
  font-weight: lighter;
}

.apod {
  font-family: 'Orbitron', sans-serif;
}

.nasa-photo {
  width: 60vw;
}

.content-container {
  position: fixed;
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-wrapper {
  margin-top: 1vh;
  position: relative;
  width: 60vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  width: 60vw;
  height: 60vh;
}

.nasa-photo {
  width: 60vw;
  height: 60vh;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nasa-photo iframe {
  width: 60vw;
  height: 60vh;
}

.nasa-photo img {
  height: 60vh;
}

.photo-info {
  color: rgb(255, 255, 255);
  text-align: center;
  width: 60vw;
  height: 60vh;
  overflow-y: scroll;
}

.photo-info::-webkit-scrollbar {
  width: 1px;
  background: transparent; 
}

.photo-info::-webkit-scrollbar-thumb {
  background-color: white;
}

.card.scroll {
  animation: scroll 1s forwards;
}

.card.scroll-back{
  animation: scroll-back 1s forwards;
}

@keyframes scroll{
  from {
    transform:  translateY(0vh);
  }

  to {
    transform: translateY(-60vh);
  }
}

@keyframes scroll-back{
  from {
    transform: translateY(-60vh);
  }

  to {
    transform: translateY(0vh);
  }
}

button {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.452);
  font-size: 1rem;
  border: none;
  font-style: italic;
  font-family: 'Orbitron', sans-serif;
  font-weight: lighter;
}

.button-wrapper {
  margin-bottom: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper.click {
  animation: underline 1s;
  animation-fill-mode: forwards;
}

.button-wrapper.click-back {
  animation: underline-back 1s;
  animation-fill-mode: forwards;
}

button.click {
  color: white;
}

button:hover {
  color: white;
}

@keyframes underline {
  from {
    width: 5rem;
  }

  to {
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 20vw;
  }
}

@keyframes underline-back {
  from {
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 20vw;
  }

  to {
    width: 5rem;
  }
}

.arrow {
  color: white;
}

.orbit {
  height: auto;
  max-height: 10vh;
  z-index: -1;
  object-fit: cover;
  align-self: center;
  position: fixed;
}

.rotate {
  animation: spin 3s forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

